.main {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;

    margin-top: 3rem;
}

@media (max-width: 600px) {
    .main {
        margin-top: 3rem;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}
